fastapi
uvicorn
hypercorn
python-dotenv
python-multipart
pytest
pytest-cov
pdfplumber
python-docx
sentence-transformers
qdrant-client
requests
ollama
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
whitenoise
