DJANGO_SECRET_KEY=django-insecure-5(ce5@h_h*(z0abdfqz+b52t8an04uvswgqsn0je4$-a$pndt5
DJANGO_DEBUG=true
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost:9001,http://127.0.0.1:9001,http://localhost:9000,http://127.0.0.1:9000
API_BASE=http://localhost:9000
FAKE_TOKEN=replace-with-token
LOG_LEVEL=INFO
LOG_DIR=logs
LOG_FILE=mosaico.log
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5
LOG_SQL=false
